<!-- Footer -->


<footer id="footer" class="text-center text-light mt-5 text-lg-start">

    <!-- Copy right -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2024 Copyright Group 10.
    </div>
</footer>
