<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
  <div class="container d-flex justify-content-start">
    <div class="p-2 flex-grow-1">
      <a class="navbar-brand" href="/"><img class="logo" src="/assets/logo/logo.png" alt="psyduck" style="max-width: 60px; max-height: 30px;"></a>

      <button class="navbar-toggler ml-auto mr-2 border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">      
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="d-flex justify-content-end">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto p-3">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Food
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/food/type/vegan">Vegan</a></li>
              <li><a class="dropdown-item" href="/food/type/fried">Fried</a></li>
              <li><a class="dropdown-item" href="/food/type/beverage">Beverage</a></li>
            </ul>
          </li> 
        </ul>
        <div class="container-fluid">
          <form class="d-flex" role="search" action="/food/search" method="GET">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>