<h1>Add a Food!</h1>

<form method="post" action="/foods">
    <h2>Name</h2>
    <input type="text" name="name"><br>
    <h2>Description</h2>
    <input type="text" name="description"><br>
    <h2>Ingredient 1</h2>
    <input type="text" name="ingredients[]" placeholder="Ingredient 1"><br>
    <h2>Ingredient 2</h2>
    <input type="text" name="ingredients[1]" placeholder="Ingredient 2"><br>
    <h2>Ingredient 3</h2>
    <input type="text" name="ingredients[2]" placeholder="Ingredient 3"><br>
    <h2>Step 1</h2>
    <input type="text" name="how_to_make[]" placeholder="Step 1"><br>
    <h2>Step 2</h2>
    <input type="text" name="how_to_make[1]" placeholder="Step 2"><br>
    <h2>Step 3</h2>
    <input type="text" name="how_to_make[2]" placeholder="Step 3"><br>
    <h2>Type of Food</h2>
    <input type="text" name="type_of_food"><br>
    <h2>Nationality</h2>
    <input type="text" name="nationality"><br>
    <h2>Picture</h2>
    <input type="text" name="picture"><br>
    <button>ADD</button>


</form>