<header>
    <h1>{{title}}</h1>
</header>
<main>
    {{#each foods}}
        <article>
            <h2>{{this.name}}</h2>
            <p>Description: {{description}}</p>
        </article>
    {{/each}}
</main>