<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add a New Food</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    #id-container {
      display: none;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1>Add Food Details</h1>
    <form action="/food/add" method="POST" enctype="multipart/form-data">
      <div id="id-container">
        <input type="hidden" id="id" name="id" value="{{ food._id }}">
      </div>

      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <input type="text" class="form-control" id="description" name="description">
      </div>

     <div class="mb-3" id="ingredientFields">
            <label for="ingredients1" class="form-label">Ingredients:</label>
            <input type="text" class="form-control mb-2" id="ingredients1" name="ingredients[]">
            <button type="button" class="black-button" onclick="addIngredient()">Add More</button>
      </div>

      <div class="mb-3" id="howToMakeFields">
            <label for="howToMake1" class="form-label">How to Make:</label>
            <input type="text" class="form-control mb-2" id="howToMake1" name="how_to_make[]">
            <button type="button" class="black-button" onclick="addStep()">Add More</button>
      </div>


      <div class="mb-3">
          <label for="type_of_food" class="form-label">Type of Food:</label>
          <select class="form-control" id="type_of_food" name="type_of_food">
              <option value="">Select Type of Food</option>
              <option value="Fine Dining">Fine Dining</option>
              <option value="Street Food">Street Food</option>
              <option value="Vegan">Vegan</option>
              <option value="Fried">Fried</option>
              <option value="Beverage">Beverage</option>
          </select>
      </div>

      <div class="mb-3">
        <label for="nationality" class="form-label">Nationality:</label>
        <input type="text" class="form-control" id="nationality" name="nationality">
      </div>

      <div class="mb-3">
        <label for="mealType" class="form-label">Meal Type:</label>
        <select class="form-control" id="mealType" name="mealType">
            <option value="">Select Meal Type</option>
            <option value="main">Main dish</option>
            <option value="appetizer">Appetizer</option>
            <option value="side">Side dish</option>
            <option value="dessert">Dessert</option>
            <option value="drink">Drink</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="picture" class="form-label">Upload Picture:</label>
        <input type="file" class="form-control" id="picture" name="picture" accept="image/png">
    </div>

      <button type="submit" class="black-button">Submit</button>
    </form>
  </div>

  <script>
    function addIngredient() {
        const container = document.getElementById('ingredientFields');
        const newField = document.createElement('input');
        newField.setAttribute('type', 'text');
        newField.setAttribute('class', 'form-control mb-2');
        newField.setAttribute('name', 'ingredients[]');
        container.appendChild(newField);
    }

    function addStep() {
        const container = document.getElementById('howToMakeFields');
        const newField = document.createElement('input');
        newField.setAttribute('type', 'text');
        newField.setAttribute('class', 'form-control mb-2');
        newField.setAttribute('name', 'how_to_make[]');
        container.appendChild(newField);
    }
</script>

</body>
</html>
